<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.pjc.mapper.AcountMapper">
  		<insert id="saveAcount" parameterType="Acount">
  			insert into acount(aid,aname,apass,aphoto,aphone,amail,asex,alevel,arole,acontent,acreatetime,alastchangetime,athumbsup,aidcardnumber) 
  			values (#{aid},#{aname},#{apass},#{aphoto},#{aphone},#{amail},#{asex},#{alevel},#{arole},#{acontent},#{acreatetime},#{alastchangetime},#{athumbsup},#{aidcardnumber})
  		</insert>
  		<select id="selectAllAcount" resultType="Acount">
  			select * from acount
  		</select>
  		<select id="selectAcountByAid" parameterType="String" resultType="Acount">
  			select * from acount where aid = #{id}
  		</select>
  		<delete id="deleteAcountByAid" parameterType="String">
  			delete from acount where  aid = #{id}
  		</delete>
  		<update id="updateAcount" parameterType="Acount">
  			update acount set aname = #{aname},apass=#{apass},aphoto=#{aphoto},aphone=#{aphone},
  			amail=#{amail},asex=#{asex},alevel=#{alevel},arole=#{arole},acontent=#{acontent},
  			acreatetime=#{acreatetime},alastchangetime=#{alastchangetime},athumbsup=#{athumbsup},aidcardnumber=#{aidcardnumber}
  			where aid=#{aid}
  		</update>
  		
  		<select id="selectAcountByAname" parameterType="String" resultType="Acount">
  			select * from acount where aname = #{id}
  		</select>
  		<select id="selectAcountByAnameAndApass" parameterType="Acount" resultType="Acount">
  			select * from acount where aname = #{aname} and apass = #{apass}
  		</select>
  </mapper>