<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.pjc.mapper.ExamMapper">
  		<insert id="saveExam" parameterType="Exam">
  			insert into exam(exid,exnumber,exregister,exregisttime,exlimittime) 
  			values (#{exid},#{exnumber},#{exregister},#{exregisttime},#{exlimittime})
  		</insert>
  		<select id="selectAllExam" resultType="Exam">
  			select * from exam
  		</select>
  		<select id="selectExamByExid" parameterType="String" resultType="Exam">
  			select * from exam where exid = #{id}
  		</select>
  		<delete id="deleteExamByExid" parameterType="String">
  			delete from exam where  exid = #{id}
  		</delete>
  		<update id="updateExam" parameterType="Exam">
  			update exam set exnumber = #{exnumber},exregister=#{exregister},
  			exregisttime=#{exregisttime},exlimittime=#{exlimittime}
  			where exid = #{exid}
  		</update>
  </mapper>