<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myprimarysystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- 加载核心配置 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- springmvc -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:springmvc.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
    <!-- 字符转码过滤器配置 -->
<filter>
  	<filter-name>character</filter-name>
  	<filter-class>cn.pjc.web.filter.CharacterEncodingFilter</filter-class>
 	<init-param>
 		<param-name>oldEncoding</param-name>
 		<param-value>ISO8859-1</param-value>
 	</init-param>
 	<init-param>
 		<param-name>newEncoding</param-name>
 		<param-value>UTF-8</param-value>
 	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>character</filter-name>
  	<url-pattern>/*</url-pattern>

  </filter-mapping>
  
  
   <!-- 单态监听 -->
   <listener>
		<listener-class>cn.pjc.web.listener.LoginSessionListener</listener-class>
	</listener>
	
	<!-- 进入指定文件夹的页面需要登录过滤器 -->
		<!-- 单态登录过滤器与放恶意登录 -->
  	<filter>
  		<filter-name>loginfilter</filter-name>
  		<filter-class>cn.pjc.web.filter.OnlineFilter</filter-class>
  	</filter>
	<filter-mapping>
  		<filter-name>loginfilter</filter-name>
  		<url-pattern>/needlogin/*</url-pattern>
  	</filter-mapping>
  
</web-app>